.chat {
  display: flex;
  flex-direction: column;

  &-display {
    margin-top: 3rem;

    .chat {
      &-box {
        overflow-y: scroll;
        max-height: 40vh;
        padding: 1rem;
        &-message {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: 100%;
          p {
            border: 1px solid;
            padding: 0.5rem;
            width: fit-content;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
          }
          .avatar {
            img {
              border-radius: 50%;
            }
          }
          .time {
            display: flex;
            align-items: center;
            height: 50px;
            font-style: italic;
          }
        }
      }
    }
  }
}
