<p-toast key="chat" position="top-center"></p-toast>
<div class="chat">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      [(ngModel)]="name"
      [disabled]="isConnected || isFacebookLogged"
      matInput
      placeholder="Type your name"
      type="text"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <textarea
      [(ngModel)]="text"
      cdkAutosizeMinRows="10"
      cdkTextareaAutosize
      matInput
      name="text"
      placeholder="Type your name"
    ></textarea>
  </mat-form-field>
  <div class="btn-group">
    <button
      (click)="fbLogin()"
      *ngIf="!isFacebookLogged"
      color="primary"
      mat-raised-button
    >
      Login with Facebook
    </button>
    <!--    <button-->
    <!--      (click)="connect()"-->
    <!--      [disabled]="isConnected"-->
    <!--      color="primary"-->
    <!--      mat-raised-button-->
    <!--    >-->
    <!--      Connect-->
    <!--    </button>-->
    <button (click)="send()" color="primary" mat-raised-button>Send</button>
  </div>
  <div class="chat-display">
    <h1>Messages</h1>
    <div class="chat-box">
      <div
        *ngFor="let message of chatHistory"
        [ngStyle]="{
          'justify-content': message.from == currentUser.name ? 'end' : 'start'
        }"
        class="chat-box-message"
      >
        <div class="avatar">
          <img
            [src]="currentUser.picture.data.url"
            alt="${{ currentUser.name }}_avatar"
          />
        </div>
        <p>{{ message.text }}</p>
        <div class="time">{{ message.time }}</div>
      </div>
    </div>
  </div>
</div>
